@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Inconsolata:wght@200&family=Monomaniac+One&family=Quicksand&family=Rajdhani:wght@500&display=swap');



*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    background-color:rgb(67, 200, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 60%;
    max-width: 575px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    padding: 20px;
    letter-spacing: 2px;
    font-family: 'Inconsolata', monospace;
}
.content{
    padding: 20px;
    text-align: left;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
}
.btns{
    padding: 20px;
    align-self: flex-end;
}
.startquiz{
    font-family: 'Inconsolata', monospace;
    font-weight:bolder;
    font-size: 17px;
    height: 40px;
    width: 110px;
    color: white;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(255, 93, 118);
}
.startquiz:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 93, 118);
    border: 1px solid rgb(255, 93, 118);
}




.container2{
    position: absolute;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Rajdhani', sans-serif;
    visibility: hidden;
}
.top-bar{
    align-self: flex-start;
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.yourscore{
    font-size: 30px;
    letter-spacing: 1px;
}
.question{
    padding: 10px;
    font-size: 23px;
}
ul{
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}
.span1,.span2{
    font-family: 'Inconsolata', monospace;
}
.next{
    font-family: 'Inconsolata', monospace;
    font-weight:bolder;
    font-size: 17px;
    height: 40px;
    width: 110px;
    color: white;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(255, 93, 118);
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.next:hover{
    background-color: rgb(255, 93, 118);
    box-shadow: 0 0 5px rgb(255, 93, 118),
                0 0 15px rgb(255 93 118 / 0.8),
                0 0 20px rgb(255 93 118/ 0.7),
                0 0 25px rgb(255 93 118 / 0.6);
}
.options{
    padding: 10px;
}
li{
    list-style-type: none;
    font-weight: 600;
    height: 25px;
    padding: 3px;
}

.container3{
    position: absolute;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    visibility: hidden;
}
.tryagain{
    font-family: 'Inconsolata', monospace;
    font-weight:bolder;
    font-size: 17px;
    height: 40px;
    width: 110px;
    color: white;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(255, 93, 118);
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.tryagain:hover{
    background-color: rgb(255, 93, 118);
    box-shadow: 0 0 5px rgb(255, 93, 118),
                0 0 15px rgb(255 93 118 / 0.8),
                0 0 20px rgb(255 93 118/ 0.7),
                0 0 25px rgb(255 93 118 / 0.6);
}
.your-score{
    padding: 20px;
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}
.tryagaindiv{
    padding: 20px;
}
.span3{
    font-size: 40px;
}
.comments{
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1px;text-align: center;
}


.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}

@media (max-width:574px){
    .container2,.container3{
        width: 100%;
        height: 70%;
    }
    .container{
        width: 100%;
        
    }
}